
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand text-primary">Cocktail bar</a>
  <form class="form-inline">
    <%= link_to "Add new cocktail", new_cocktail_path, class: "button-ghost" %>
  </form>
</nav>

<div class="card-container">
    <% @cocktails.each_with_index do |cocktail, index| %>
      <div class="cards">
        <%= image_tag("drink#{index}.jpg")%>
        <h4 class="card-text mb-4"><%=cocktail.name%></h4>
        <%= link_to "check here for more info", cocktail_path(cocktail.id), class: "button-ghost" %>
      </div>
    <% end %>
</div>
