<div class="card-center">
  <div id="icon">
    <p>home page</p>
    <%= link_to root_path do%><i class="fas fa-home"></i><% end %>
  </div>
  <hr>
  <hr>
  <hr>
   <div class="search-bar">
    <%= simple_form_for(@cocktail) do |f| %>
      <%=f.input :name %>
      <%= f.submit %>
    <% end %>
   </div>
</div>
