.sebnavbar-lewagon {
  justify-content: space-between;
  width:100vw;
  // position:fixed;
  // top:0;
  // left:0;
  height:60px;
  // position:absolute;
}

.seb-white {
  background-color:black;
}

.linear:hover{
  background: -webkit-linear-gradient(black,#3a3535,#ff7315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#nav-icon {
    width: 27px;
    height: 26px;
    z-index: 999;
    margin: 0px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
     left:40vw;
}

#nav-icon span {
    display: block;
    height: 5px;
    width: 100%;
    background: white;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    left:40vw;
    position: relative;
  }

.icon-black span{
  display: block;
    height: 5px;
    width: 100%;
    background: black;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    left:40vw;
    position: relative;
}

body #nav-icon span:nth-child(2) {
    top: 20px;
    background: #ff8300;
}

#nav-icon span:nth-child(1) {
    top: 15px;
}

#nav-icon span:nth-child(3) {
    top: 25px;
}
